{% extends 'base.html' %}

{% block content %}

<script>
    var currentQuestion = null;

    // see https://channels.readthedocs.io/en/stable/tutorial/part_2.html
    const chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/poll/{{poll.id}}/'
    );

    function update_results(questions, answers) {
        let newContent = '';
        questions.forEach(function(question){

            let resultsDiv = document.getElementById('results');

            let totalvotes = 0;
            let labels = [];
            let values = [];
            let showResults = true;

            newContent += question.description;
            newContent += '<ul>';
            answers.forEach(function(answer){
                if (answer.question_id == question.id) {
                    if (answer.votes == -1) {
                        // there are no voting results available for this question
                        showResults = false;
                    }

                    if (showResults) {
                        newContent +=
                            '<li>' + answer.votes + ' ' + answer.answer + '</li>';
                    }
                    labels.push(answer.answer);
                    values.push(answer.votes);
                    totalvotes += answer.votes;
                }
            });

            newContent += '</ul>';
        });

        let questionDiv = document.getElementById('question');
        questionDiv.innerHTML = newContent;

        if (!showResults) {
            resultsDiv.innerHTML = "Total Votes: " + "TODO" + '<br/><br/>' + "Results will not be displayed for this poll.";
            return;
        }

        resultsDiv.innerHTML = "Total Votes: " + totalvotes + '<br/><br/>' + newContent;

        var type = 'bar';
        // var type = 'pie';
        var data = null;
        if (type == 'bar') {
            // see https://plotly.com/javascript/bar-charts/#basic-bar-chart
            data = [{x: labels, y: values, type: 'bar'}];
        } else if (type == 'pie') {
            // see https://plotly.com/javascript/pie-charts/
            data = [{values: values, labels: labels, type: 'pie'}];
        }
        var layout = {
            height: 400,
            width: 500
          };
        Plotly.newPlot('chart', data); // , layout);
    }

    function update_question(data) {
        let questionDiv = document.getElementById('question');
        let newContent = data.question;
        questionDiv.innerHTML = newContent;

        // clear the results
        let resultsDiv = document.getElementById('results');
        resultsDiv.innerHTML = '';
        let chartDiv = document.getElementById('chart');
        chartDiv.innerHTML = '';
    }

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
console.log(data);
        if (data.type == 'update_results') {
            update_results(data.questions, data.answers);
        }
        else if (data.type === 'new_questions') {
            currentQuestion = data.questions[0].description;
            update_questions(data);
        }
        // do not overwrite current question by refresh
        else if (data.type === 'refresh_question') {
            if (currentQuestion !== data.questions[0].description) {
                currentQuestion = data.questions[0].description;
                update_questions(data);
            }
        }
    };

    function init() {
        // request the question and options
        chatSocket.send(JSON.stringify({
            'type': 'init_projector',
            'message': 'init'
        }));
    }
    setTimeout(init, 500);

    chatSocket.onclose = function(e) {
        console.error('Socket closed unexpectedly');
        alert('connection lost, please refresh the browser')
    };
</script>

<div class="container">
    <h3>{{poll.name}}</h3>

    <h4 id="question"></h4>

    <div id="chart"></div>
    <div id="results"></div>
</div>

{% endblock %}
