[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.2"
djangorestframework = "*"
django-registration = "*"
channels = "*"
channels-redis = "*"
xlwt = "*"
psycopg2 = "*"
uvicorn = {extras = ["standard"], version = "*"}
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
