{% extends 'base.html' %}

{% block content %}

<script>
    currentQuestion = null;

    // see https://channels.readthedocs.io/en/stable/tutorial/part_2.html
    const chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/poll/{{poll.id}}/'
    );

    function update_results(answers) {
        let resultsDiv = document.getElementById('results');
        let newContent = '';
        let totalvotes = 0;
        newContent += '<ul>';
        labels = [];
        values = [];
        answers.forEach(function(answer){
            newContent +=
                '<li>' + answer.votes + ' ' + answer.answer + '</li>';
            labels.push(answer.answer);
            values.push(answer.votes);
            totalvotes += answer.votes;
            });

        newContent += '</ul>';

        resultsDiv.innerHTML = "Total Votes: " + totalvotes + '<br/><br/>' + newContent;

        var type = 'bar';
        // var type = 'pie';
        var data = null;
        if (type == 'bar') {
            // see https://plotly.com/javascript/bar-charts/#basic-bar-chart
            data = [{x: labels, y: values, type: 'bar'}];
        } else if (type == 'pie') {
            // see https://plotly.com/javascript/pie-charts/
            data = [{values: values, labels: labels, type: 'pie'}];
        }
        var layout = {
            height: 400,
            width: 500
          };
        Plotly.newPlot('chart', data); // , layout);
    }

    function update_question(data) {
        let question = document.getElementById('question');
        let newContent = data.question;
        newContent += '<ul>';

        data.answers.forEach(function(answer){
            newContent +=
                '<li><button type="submit" class="answer" msg="' + answer.answer + '" answer_id="' + answer['id'] + '">' + answer.answer + '</button></li>';
          });

          newContent += '</ul>';
        question.innerHTML = newContent;

        answerButtons = document.querySelectorAll('.answer');
        answerButtons.forEach(function(btn) {
            btn.onclick = function(e) {
                const message = e.srcElement.getAttribute("msg");
                const answer_id = e.srcElement.getAttribute("answer_id");
                chatSocket.send(JSON.stringify({
                    'type': 'answer',
                    'answer_id': answer_id,
                    'message': message
                }));
            }
        });
    }

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
console.log(data);
        if (data.type == 'update_results') {
            update_results(data.answers);
        }
        else if (data.type === 'new_question') {
            currentQuestion = data.question;
            update_question(data);
        }
        // do not overwrite current question by refresh
        else if (data.type === 'refresh_question') {
            if (currentQuestion !== data.question) {
                currentQuestion = data.question;
                update_question(data);
            }
        }
    };

    function init() {
        // request the question and options
        chatSocket.send(JSON.stringify({
            'type': 'init',
            'message': 'init'
        }));
    }
    setTimeout(init, 500);

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
</script>

<div class="container">
    <h3>Answer Poll {{poll.name}}</h3>

    <div id="question"></div>

    <div id="chart"></div>
    <div id="results"></div>
</div>

{% endblock %}
