{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
        <script type="text/javascript" src="{% static 'js/plotly.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.slim.min.js' %}"></script>
{% endblock %}

{% block content %}

<script>
    var currentQuestion = null;
    var SelectedAnswers = [{{selected_answers_ids}}];

    var loc = window.location;
    var wsStart = 'ws://';
    if (loc.protocol == 'https:') {
        wsStart = 'wss://'
    }

    // see https://channels.readthedocs.io/en/stable/tutorial/part_2.html
    const chatSocket = new WebSocket(
        wsStart + window.location.host + '/ws/poll/{{poll.id}}/'
    );

    function update_results(answers) {
        let resultsDiv = document.getElementById('results');
        let newContent = '';
        let totalvotes = 0;
        let labels = [];
        let values = [];
        let showResults = true;

        newContent += '<ul>';
        answers.forEach(function(answer){
            if (answer.votes == -1) {
                // there are no voting results available for this question
                showResults = false;
            }
            newContent +=
                '<li>' + answer.votes + ' ' + answer.answer + '</li>';
            labels.push(answer.answer);
            values.push(answer.votes);
            totalvotes += answer.votes;
            });
        newContent += '</ul>';

        if (!showResults) {
            // resultsDiv.innerHTML = "Total Votes: " + "TODO" + '<br/><br/>' + "Results will not be displayed for this poll.";
            return;
        }

        resultsDiv.innerHTML = "Total Votes: " + totalvotes + '<br/><br/>' + newContent;

        var type = 'bar';
        // var type = 'pie';
        var data = null;
        if (type == 'bar') {
            // see https://plotly.com/javascript/bar-charts/#basic-bar-chart
            data = [{x: labels, y: values, type: 'bar'}];
        } else if (type == 'pie') {
            // see https://plotly.com/javascript/pie-charts/
            data = [{values: values, labels: labels, type: 'pie'}];
        }
        var layout = {
            height: 400,
            width: 500
          };
        Plotly.newPlot('chart', data); // , layout);
    }

    var httpRequest;
    function update_selected_answers_show() {

        SelectedAnswers = [];

        if (httpRequest.readyState === XMLHttpRequest.DONE) {
            SelectedAnswersList = JSON.parse(httpRequest.responseText).selected_answers;
            SelectedAnswersList.forEach(function(selectedAnswer) {
                SelectedAnswers.push(selectedAnswer['id']);
                if (selectedAnswer['free_text']) {
                    textarea = document.getElementById('answer' + selectedAnswer['id']);
                    textarea.value = selectedAnswer['free_text'];
                }
            });

            // update class selected in answers
            answerButtons = document.querySelectorAll('.answer');
            answerButtons.forEach(function(btn) {
                const answer_id = parseInt(btn.getAttribute("answer_id"));
                if (SelectedAnswers.includes(answer_id)) {
                    // mark as selected
                    btn.className += " selected";
                } else {
                    // mark as not selected
                    btn.className = btn.className.replaceAll("selected", "");
                }

            });
        }
    }

    function update_selected_answers() {
        var loc = window.location;

        httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = update_selected_answers_show;
        httpRequest.open('GET', window.location.protocol + '//' + window.location.host + '/selected_answers/{{poll.id}}');
        httpRequest.send();
    }

    function update_questions(data) {
        let newContent = '';
        data.questions.forEach(function(question){
            newContent += question.description;
            newContent += '<ul>';

            data.answers.forEach(function(answer){
                if (answer.question_id == question.id) {
                    if (answer.free_text) {
                        newContent +=
                            '<textarea id="answer' + answer.id + '" name="answer' + answer.id + '" columns="50" rows="3"></textarea>' +
                            '<button type="submit" class="answer" question_id="' + answer['question_id'] + ' " answer_id="' + answer['id'] + '">Submit</button>';
                    } else {
                        newContent +=
                            '<li><button type="submit" class="answer" msg="' + answer.answer + '" question_id="' + answer['question_id'] + ' " answer_id="' + answer['id'] + '">' + answer.answer + '</button></li>';
                    }
                }
              });

            newContent += '</ul>';
            update_selected_answers();
        });

        let questionDiv = document.getElementById('question');
        questionDiv.innerHTML = newContent;

        answerButtons = document.querySelectorAll('.answer');
        answerButtons.forEach(function(btn) {
            btn.onclick = function(e) {
                const message = e.srcElement.getAttribute("msg");
                const answer_id = parseInt(e.srcElement.getAttribute("answer_id"));

                data.answers.forEach(function(answer){
                    if (answer.id == answer_id) {
                        if (answer.free_text) {
                            textarea = document.getElementById('answer' + answer.id);
                            chatSocket.send(JSON.stringify({
                                'type': 'answer',
                                'answer_id': answer_id,
                                'message': textarea.value
                            }));
                        } else {
                            chatSocket.send(JSON.stringify({
                                'type': 'answer',
                                'answer_id': answer_id,
                                'message': message
                            }));
                        }
                    }
                });

                // immediate feedback, might be wrong, if only one answer can be selected
                if (SelectedAnswers.includes(answer_id)) {
                    // remove the answer
                    display_message("Your vote has been removed!");
                    index = SelectedAnswers.indexOf(answer_id);
                    SelectedAnswers.splice(index, 1);
                    e.srcElement.className = e.srcElement.className.replaceAll("selected", "");
                } else {
                    // add the answer
                    display_message("Thank you for your vote!");
                    SelectedAnswers.push(answer_id);
                    e.srcElement.className += " selected";
                }
                // wait half a second, then update the button selections, this is for single answer questions.
                setTimeout(update_selected_answers, 500);
            }
        });

        // clear the results
        let resultsDiv = document.getElementById('results');
        resultsDiv.innerHTML = '';
        let chartDiv = document.getElementById('chart');
        chartDiv.innerHTML = '';
    }

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);

        if (data.type == 'update_results') {
            update_results(data.answers);
        }
        else if (data.type === 'new_questions') {
            currentQuestion = data.questions[0].description;
            update_questions(data);
        }
        // do not overwrite current question by refresh
        else if (data.type === 'refresh_questions') {
            if (currentQuestion !== data.questions[0].description) {
                currentQuestion = data.questions[0].description;
                update_questions(data);
            }
        }
    };

    function init() {
        // request the question and options
        chatSocket.send(JSON.stringify({
            'type': 'init',
            'message': 'init'
        }));
    }
    setTimeout(init, 500);

    chatSocket.onclose = function(e) {
        console.error('Socket closed unexpectedly');
        alert('connection lost, please refresh the browser')
    };

    // display messages in the upper middle of the screen
    function display_message(content) {
        var display_space = $('#global_message_space');

        var message = $('<div id="message" class="msg" onclick="$(this).closest(\'.msg\').remove()"></div>');
        message.html(content);

        var timeout = 2000; // 2 seconds
        var m_id = Math.floor(Math.random() * 100000);
        message.attr('message-id', m_id);
        $('#global_message_space').append(message);

        latestTimeout = setTimeout(function () {
            $('[message-id='+m_id+']').remove(); }, timeout);
    }
</script>

<div class="container">
    <h3>{{poll.name}}</h3>

    <div id="global_message_space"></div>

    <div id="question"></div>

    <div id="help">
        Help:
        <ul>
            <li>Click on a button to vote for it</li>
            <li>The button will turn green, if you voted for it</li>
            <li>To revoke your vote, click the button again, it will turn light-blue again</li>
            <li>Don't vote in multiple browsers/devices, because that would be each a different vote</li>
        </ul>
    </div>

    <div id="chart"></div>
    <div id="results"></div>
</div>

{% endblock %}
